*.log
*.pot
*.pyc
.idea\
.idea/
todolist\.idea\
todolist/.idea/
todolist/*/migrations/
todolist\*\migrations\
todolist/*/migrations/*
todolist\*\migrations\*
todolist\uploads\
todolist/uploads/
local_settings.py
.vagrant/
.vagrant\
Vagrantfile